.header{
    padding: 12px 18px 12px 28px;
    display: flex;
    align-items: center;
    @include clearfix;
    @include r(1200){
        display: block;
    }
    &__logo{
        margin-right: 25px;
        @include r(1200){
            display: inline-block;
            margin-right: 0px;
        }
    }
    &__search{
        margin-right: 16px;
        float: right;
        @include r(1200){
            display: inline-block;
            margin-right: 0px;
            margin-top: 8px;
        }
    }
    &__settings{
        margin-right: 53px;
    }
    &__button{
        margin-bottom: 6px;
    }
    &__user{
        margin-right: 24px;
    }
}
.logo__text{
    color: #000102;
    font-family: $font-roboto;
    font-size: 37px;
    font-weight: 400;
    text-decoration: none;
}
.search{
    &__text{
        font-family: $font-roboto;
        color: #2d3235;
        font-size: 12px;
        border: 1px solid $border-color;
        padding: 8px 13px;
        width: 410px;
    }
    &__submit{
        border: 1px solid $border-color;
        cursor: pointer;
        vertical-align: middle;
        padding: 7px 8px;
        margin-left: -5px;
    }
}
.settings{
    &__text{
        text-decoration: none;
        color: $title-color;
        font-family: $font-roboto;
        font-size: 12px;
        font-weight: 600;
        vertical-align: text-top;
    }
    &__icon{
        margin-right: 10px;
    }
}
.user{
    &__email{
        text-decoration: none;
        color: #2d3235;
        font-family: $font-roboto;
        font-size: 12px;
        vertical-align: text-top;
    }
    &__icon{
        display: inline-block;
        background-color: #edeff1;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        padding: 10px;
        margin-right: 8px;
    }
}
.button{
    &__text{
        text-decoration: none;
        color: #2d3235;
        font-family: $font-roboto;
        font-size: 10px;
        border: 1px solid #dbdddf;
        border-radius: 11px / 10px;
        padding: 3px 12px;
    }
}