.main{
    display: flex;
    width: 100%;
    &__col{
        flex: 1;
    }
    &__col_center{
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}
.info{
    padding: 25px;
    &__title{
        margin-bottom: 35px;
    }
}
.title{
    position: relative;
    &__text{
        color: #373d41;
        font-family: $font-roboto;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__description{
        color: #5b656b;
        font-family: $font-roboto;
        font-size: 13px;
    }
    &__icon{
        position: absolute;
        right: 0px;
        top:0px;
        .icon{
            width: 32px;
            height: 32px;
            fill: #99a1a7;
        }
    }
}
.content{
    &__link{
        text-decoration: none;
    }
    &__title{
        color: $title-color;
        font-family: $font-roboto;
        font-size: 17px;
        margin-bottom: 13px;
        font-weight: 400;
        &:hover{
            color: #68309d;
        }
    }
    &__text{
        color: #5b646c;
        font-family: $font-roboto;
        font-size: 12px;
        display: inline-block;
        width: 80%;
    }
    &__item{
        margin-bottom: 30px;
    }
}
.getting-started{
    background-color: #60686f;
    padding: 25px;
    &__icon{
        display: inline-block;
        margin-right: 15px;
        .icon-plane{
            width: 32px;
            height: 32px;
            fill: #fff;
        }
    }
    &__text{
        display: inline-block;
        margin-right: 28px;
    }
    &__btn{
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }
}
.text_white{
    color: #fff;
}