.main{
    display: flex;
    width: 100%;
    &__col{
        flex: 1;
        min-width: 0;
    }
    &__col_center{
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}
.info{
    padding: 25px;
    &__title{
        margin-bottom: 35px;
    }
}
.title{
    position: relative;
    &__text{
        color: #373d41;
        font-family: $font-roboto;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__description{
        color: #5b656b;
        font-family: $font-roboto;
        font-size: 13px;
    }
    &__icon{
        position: absolute;
        right: 0px;
        top:0px;
        .icon{
            width: 32px;
            height: 32px;
            fill: #99a1a7;
        }
    }
}
.content{
    &__link{
        text-decoration: none;
    }
    &__title{
        color: $title-color;
        font-family: $font-roboto;
        font-size: 17px;
        margin-bottom: 13px;
        font-weight: 400;
        &:hover{
            color: #68309d;
        }
    }
    &__text{
        color: #5b646c;
        font-family: $font-roboto;
        font-size: 12px;
        display: inline-block;
        width: 80%;
    }
    &__item{
        margin-bottom: 30px;
    }
}
.getting-started{
    background-color: #60686f;
    padding: 25px;
    &__icon{
        display: inline-block;
        margin-right: 15px;
        .icon-plane{
            width: 32px;
            height: 32px;
            fill: #fff;
        }
    }
    &__text{
        display: inline-block;
        margin-right: 28px;
    }
    &__btn{
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }
}
.text_white{
    color: #fff;
}
.twitter{
    background: #edeff1;
    padding: 0px 17px 0px 25px;
}
.author{
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 13px;
    &__name{
        color: #373d41;
        font-family: $font-roboto;
        font-size: 18px;
    }
    &__link{
        color: #0a4f8b;
        font-family: $font-roboto;
        font-size: 13px;
        text-decoration: none;
    }
}
.slide{
    padding: 20px 0px;
    &__header{
        @include clearfix;
    }
    &__footer{
        margin-top: 30px;
    }
    &__icon{
        vertical-align: top;
        margin-top: 10px;
        float: right;
        .icon-chat{
            width: 32px;
            height: 28px;
            fill: #959da3;
        }
    }
    &__content{
        p{
            color: #5f676f;
            font-family: $font-roboto;
            font-size: 16px;
            width: 75%;
            margin-top: 35px;
            margin-left: 5px;
        }
    }
}
.slider__arrow{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.arrow__icon{
    width: 14px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.metadata{
    display: flex;
    align-items: center;
    &__icon{
        display: inline-block;
        padding-top: 5px;
        .icon{
            height: 22px;
            width: 22px;
            fill: #959da3;
        }
    }
    &__date{
        color: #5f676f;
        font-family: $font-roboto;
        font-size: 13px;
        text-decoration: none;
    }
}
.lSAction>a{
    background: none;
    opacity: 1;
    top: 85%;
}
.lSAction>.lSPrev{
    right: 50px;
    left: auto;
}