.navigation{
    border: 1px solid $border-color;
    &__menu{
        display: inline-block;
    }
    .icon{
        height: 15px;
        width: 15px;
        fill: #53595e;
    }
}
.menu{
    &__item{
        display: inline-block;
        margin-right: -4px;
    }
    &__text{
        color: #2d3235;
        font-family: $font-roboto;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 25px;
        display: inline-block;
    }
}
.is-active .menu__text{
    color: #fff;
    padding: 16px 40px 16px 47px;
}
.is-active{
    background-color: #383e42;
}
.background-jobs{
    display: inline-block;
    &__link{
        text-decoration: none;
    }
    &__icon{
        display: inline-block;
    }
    &__counter{
        width: 16px;
        height: 13px;
        color: #fff;
        background-color: #ff5f4b;
        font-size: 10px;
        font-family: $font-roboto;
        padding: 1px 6px;
        border-radius: 8px;
    }
}
