$screen-sm: 480;
$screen-md: 769;
$screen-lg: 993;
$screen-xl: 1200;

$font-helvetica: 'HelveticaNeue',sans-serif;
$font-roboto: 'Roboto', sans-serif; 
$title-color: #0a4f8b;
$border-color: #dcdee0;