{% import "../data/data.html" as list %}
<div class="footer">
    <div class="footer__nav">
        {% for col in list.footer__nav %}
            <ul class="footer__nav_col">
                {% for link in col %}
                    <li><a href="{{link.href}}">{{link.title}}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="footer__copyright">
        <div class="copyright">
            <span class="copyright__text">© 1996-2015 SupercompanyCorporation</span>
            <span class="copyright__text copyright__text_right">All Rights Reserved.</span>
        </div>
    </div>
</div>