<div class="footer">
    <div class="footer__nav">
        <ul class="footer__nav_col">
            <li>
                <a href="#">Users and Groups</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
        </ul>
        <ul class="footer__nav_col">
            <li>
                <a href="#">About DocuShare</a>
            </li>
            <li>
                <a href="#">Statistics</a>
            </li>
        </ul>
        <ul class="footer__nav_col">
            <li>
                <a href="#">Mobile Client Settings</a>
            </li>
            <li>
                <a href="#">Cookies</a>
            </li>
        </ul>
    </div>
    <div class="footer__copyright">
        <div class="copyright">
            <span class="copyright__text">© 1996-2015 SupercompanyCorporation</span>
            <span class="copyright__text copyright__text_right">All Rights Reserved.</span>
        </div>
    </div>
</div>