<div class="header">
    <div class="header__logo">
        <div class="logo">
            <h1 class="logo__text">SuperCompany</h1>
        </div>
    </div>
    <div class="header__search">
        <form class="search">
            <input class="search__text" type="search" placeholder="Search">
            <input class="search__submit" type="image" src="././img/search.png">
        </form>
    </div>
    <div class="header__settings">
        <div class="settings">
            <a class="settings__icon" href="#"><img src="././img/settings.png"></a>
            <a class="settings__text" href="#">Advanced</a>
        </div>
    </div>
</div>