<div class="header">
    <div class="header__logo">
        <div class="logo">
            <a class="logo__text" href="#">SuperCompany</a>
        </div>
    </div>
    <div class="header__search">
        <form class="search">
            <input class="search__text" type="search" placeholder="Search">
            <input class="search__submit" type="image" src="././img/search.png">
            <div class="settings">
                <a class="settings__link" href="#">
                    <div class="settings__icon">{{mixins.icon('settings')}}</div>
                    <span class="settings__text">Advanced</span>
                </a>
            </div>
        </form>
    </div>
    <div class="header__user">
        <div class="user">
            <div class="user__icon">
                <a href="#">{{mixins.icon('home')}}</a>
            </div>
            <a class="user__email" href="#">emma.davidson@caterptillar.com</a>
            <a class="rounded-button" href="#">Log out</a>
        </div>
    </div>
</div>
