{% import "../data/data.html" as list %}
<div class="main">
    <div class="main__col">
        <div class="info">
            <div class="info__title">
                <div class="title">
                    <h2 class="title__text">Collections</h2>
                    <div class="title__description">Top level collections</div>
                    <div class="title__icon">
                        {{mixins.icon('layers')}}
                    </div>
                </div>
            </div>
            <div class="content">
                <ul class="content__list">
                    {% for item in list.content_col1 %}
                        <li class="content__item">
                            <a class="content__link" href="#">
                                <h3 class="content__title">{{item.link}}</h3>
                                <span class="content__text">{{item.text}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info__btn">
                <a class="rounded-button" href="#">See More</a>
            </div>
        </div>
    </div>
    <div class="main__col main__col_center">
        <div class="info">
            <div class="info__title">
                <div class="title">
                    <h2 class="title__text">Other links</h2>
                    <div class="title__description">Links to other content</div>
                    <div class="title__icon">
                        {{mixins.icon('link')}}
                    </div>
                </div>
            </div>
            <div class="content">
                <ul class="content__list">
                    {% for item in list.content_col2 %}
                        <li class="content__item">
                            <a class="content__link" href="#">
                                <h3 class="content__title">{{item.link}}</h3>
                                <span class="content__text">{{item.text}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info__btn">
                <a class="rounded-button" href="#">See More</a>
            </div>
        </div>
    </div>
    <div class="main__col">
        <div class="getting-started">
            <div class="getting-started__title">
                <div class="getting-started__icon">{{mixins.icon('plane')}}</div>
                <div class="getting-started__text">
                    <h2 class="title__text text_white">Getting started</h2>
                    <div class="title__description text_white">Not sure what to do?</div>
                </div>
                <div class="getting-started__btn">
                    <a class="rounded-button text_white" href="#">Take a Tutorial</a>
                </div>
            </div>
        </div>
        <div class="twitter">
            <ul class="twitter__slider">
                <li class="slide">
                    <div class="slide__header">
                        <img src="././img/twitter-img.png">
                        <div class="author">
                            <h3 class="author__name">BritishMonarchy</h3>
                            <a class="author__link" href="#">@BritishMonarchy</a>
                        </div>
                        <div class="slide__icon">
                            {{mixins.icon('chat')}}
                        </div>
                    </div>
                    <div class="slide__content">
                        <p>It is a pleasure to open the Information Age exhibition today at the @ScienceMuseum and I hope people will enjoy visiting. </p>
                    </div>
                    <div class="slide__footer">
                        <div class="metadata">
                            <div class="metadata__icon">
                                {{mixins.icon('twitter')}}
                            </div>
                            <span class="metadata__date">1:35 PM - 24 Oct 2014</span>
                        </div>
                    </div>
                </li>
                <li class="slide">
                    <div class="slide__header">
                        <img src="././img/twitter-img.png">
                        <div class="author">
                            <h3 class="author__name">BritishMonarchy</h3>
                            <a class="author__link" href="#">@BritishMonarchy</a>
                        </div>
                        <div class="slide__icon">
                            {{mixins.icon('chat')}}
                        </div>
                    </div>
                    <div class="slide__content">
                        <p>It is a pleasure to open the Information Age exhibition today at the @ScienceMuseum and I hope people will enjoy visiting. </p>
                    </div>
                    <div class="slide__footer">
                        <div class="metadata">
                            <div class="metadata__icon">
                                {{mixins.icon('twitter')}}
                            </div>
                            <span class="metadata__date">1:35 PM - 24 Oct 2014</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="block">
    <div class="block__header">
        <div class="title">
            <h3 class="title__icon"></h3>
        </div>
    </div>
</div>