{% set 
menu = [
	{
		page: 'My docushare',
		icon: '././img/item1.png'
	},
	{
		page: 'My tasks',
		icon: '././img/item1.png'
	},
	{
		page: 'My favorites',
		icon: '././img/item1.png'
	},
	{
		page: 'Resent',
		icon: '././img/item1.png'
	}
] 
%}
{% set
content_col1 = [
	{
		link: 'Extranet Materials',
		text: 'Content for collaboration with external participants.'
	},
	{
		link: 'Branding Materials',
		text: 'All document components (text/graphics/fills/rules, etc.)'
	},
	{
		link: 'Print-ready Materials',
		text: 'The department that generates a print shop request 
		is responsible for the work.'
	}
	
]
%}