{% set
content_col1 = [
	{
		link: 'Extranet Materials',
		text: 'Content for collaboration with external participants.'
	},
	{
		link: 'Branding Materials',
		text: 'All document components (text/graphics/fills/rules, etc.)'
	},
	{
		link: 'Print-ready Materials',
		text: 'The department that generates a print shop request 
		is responsible for the work.'
	}
	
]
%}
{% set
content_col2 = [
	{
		link: 'My DocuShare',
		text: 'Your personalized DocuShare home page.'
	},
	{
		link: 'WorkCentre Scan Repository',
		text: 'Temporary storage for scanned documents'
	},
	{
		link: 'Contact Information',
		text: 'Number and e-mail address of the original document 
		creator.'
	}
	
]
%}
{% set
footer__nav = [
	[
		{
			title: 'Users and Groups',
			href: '#'
		},
		{
			title: 'Help',
			href: '#'
		}
	],
	[
		{
			title: 'About DocuShare',
			href: '#'
		},
		{
			title: 'Statistics',
			href: '#'
		}
	],
	[
		{
			title: 'Mobile Client Settings',
			href: '#'
		},
		{
			title: 'Cookies',
			href: '#'
		}
	]
]
%}