.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-layers {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
